*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
body{
    background: url('images/fundo-madeira.jpg') fixed center center;
    background-size: cover;
}
li{
    text-align: right;
    padding: 5px;
}
li img{
    width: 50px;
    border-radius: 50%;
}
li img:hover{
    margin-right: 3px;
    margin-top: -3px;
    border: 1px double white;
    box-shadow: 2px 2px 2px  rgb(0, 0, 0);
    transition: .5s;
}
div#celular{
    position: absolute;
    width: 300px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('images/frame-iphone.png') fixed center center;
}
iframe{
    margin-top: 79px;
    margin-left: 16px;
    width: 400px;
}
