@charset 'UTF-8';
*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background: url('images/fundo-madeira.jpg') no-repeat  top center;
    background-size: cover;
}
li{
    text-align: right;
    padding: 5px;
}
li img{
    width: 50px;
    border-radius: 50%;
}
li img:hover{
    margin-right: 3px;
    margin-top: -3px;
    border: 1px double white;
    box-shadow: 2px 2px 2px  rgb(0, 0, 0);
    transition: .5s;
}
div#celular{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('images/frame-iphone.png') no-repeat;
}
iframe{
    margin-top: 79px;
    margin-left: 21px;
    width: 400px;
}
