@charset 'UTF-8';
*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background: url('images/fundo-madeira.jpg') no-repeat  top center;
    background-size: cover;
}
section{
    text-align: right;
}
section img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px  rgb(0, 0, 0);
    box-sizing: border-box;
}
section img:hover{
    border: 2px solid rgba(255, 255, 255, 0.63);
    transform: translate(-3px,-3px);
    box-shadow: 5 px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform .3s, border 0.1s;
}
div#celular{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('images/frame-iphone.png') no-repeat;
}
iframe#tela{
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
}
